extends layout

block content

 .row
   .large-12.columns
     .row
       .large-12.columns
          h1= title
          p Welcome to #{title}, copy individual couch documents across servers simply and easily.
  
     .row
       .large-6.columns
          form(method="POST", action="/" data-abide id="copydocform")
           input(type="hidden", name="_method", value="PUT")
           h3 Document Id 
            input(type="text", name="docid")
           h3 From Server 
           select(name="from")
            option(name="dev", value="dev") Development
            option(name="ref", value="ref") Reference
            option(name="prod", value="prod") Production
           p Custom server 
             input(type="text", name="cfrom" placeholder="http://mydatabase.name:5984")

           h3 To Server 
           select(name="to")
            option(name="dev", value="dev") Development
            option(name="ref", value="ref") Reference
            //option(name="prod", value="prod") Production
           p Custom server 
             input(type="text", name="cto" placeholder="http://mydatabase.name:5984")
 
           h3 Other Options
            .switch 
               p Turn off default auth. Useful for replicating to io2.0 boxes
               input(type="checkbox", id="noauth" name="noauth")
               label(for="noauth")
        
           p Should we copy just the internal couch document, external couch document or both? 
           select(name="serverType")
            option(name="database 1", value="db1") internal only
            option(name="database 2", value="db2") external only
           p
            input(type="submit", value="Copy Docs" class="small button")
  
