doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation/foundation.abide.min.js')
    link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css')
    script(type='text/javascript').
       $(document).foundation();
    script(src='/js/main.js')
    
  body
    block content